.mk-search .accordion { margin: 0; }
.menu-title-table { margin: 0; width: 100%; }
.title-icon { width: 25px; }
.accordion table { background: transparent; border: 0; margin: 0; }
.accordion table tr td { font-size: inherit; }
.accordion button { text-align: left; margin: 0; padding-left: 1em; }
.section-container.accordion>section>.title .menu-title { display: block; }
.range-table { width: 100%; }
.range-table td { width: 46%; padding: 0; }
.range-table td.text-center { width: 4%; padding: 0 2%; }
.range-table input { display: inline; margin: 0; }
[ng-cloak] { display: none !important; }