<div class="section-container accordion">
  <section class="active">
    <div class="title"><a href="#">Condition</a></div>
    <!-- {{vtype.enable}} {{vtype.selected.value}}-->
    <div class="content filter-accordion" data-section-content>
      <ul class="button-group even-3" ng-class="{disabled: vtype.live.value === type.value}">
        <li ng-repeat="type in vtype.list">
          <button title="{{type.value}}" class="small" ng-class="{disabled: vtype.live.value === type.value}" ng-click="vtype.set(type.value)">{{type.label}}</button>
        </li>
      </ul>
    </div>
  </section>
</div><!-- end menu-head -->
<div class="section-container accordion" data-section="accordion">
  <section ng-repeat="(label, group) in menu.menuGroup" ng-class="{active: $index == 0}">
    <div class="title" data-section-title><a href="#">{{menu.menuGroupOrder[label]}}</a></div>
    <div class="content filter-accordion" data-section-content>
      <div class="section-container accordion" data-section="accordion">
        <section ng-repeat="opt in group" ng-show="menu.current === -1 || menu.current === $index">
          <div class="title" data-section-title ng-click="menu.setCurrent($index)">
            <a href="#" class="menu-title"><table class="menu-title-table"><tbody><tr>
              <td><span>{{opt.valueLabel}}: </span><span ng-bind-html="menu.uniq(label, $index)" ng-click="menu.removeOption(label, $index)"></span></td>
              <td class="title-icon"><i class="fa fa-plus-square" ng-show="menu.current!==$index"></i><i class="fa fa-minus-square" ng-show="menu.current===$index"></i></td>
            </tr></tbody></table></a>
          </div>
          <div class="content" data-section-content>
            <ul class="small-block-grid-2">
              <li ng-repeat="(key, count) in opt.options">
                <button class="small expand" title="{{count}} vehicles" ng-click="menu.addOption(opt.valueKey, key)">{{key}}</button>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div><!-- end filter-accordion -->
  </section>
  </div>
  <div class="section-container accordion" data-section="accordion">
  <section>
    <div class="title" ng-click="setSliderActive()" data-section-title><a href="#">Range By</a></div>
    <div class="content slider-accordion" data-section-content>
      <div ng-repeat="sld in menu.slidersI">
        <p class="labelTxt">{{sld.label}}: $<span class="price-from">{{menu.rangeObj[sld.keyval].from | number}}</span> - $<span class="price-to">{{menu.rangeObj[sld.keyval].to | number}}</span><a href="#" ng-click="menu.resetRange(sld.keyval)">Reset</a></p>
        <div class="ng-slider" slider floor="{{sld.min}}" ceiling="{{sld.max}}" step="{{sld.step}}" ng-model="menu.rangeObj[sld.keyval].from" ng-model-range="menu.rangeObj[sld.keyval].to" style="width: {{sld.width}};"></div>
      </div>
    </div><!-- end slider-accordion -->
  </section>
</div><!-- end main-accordion -->
<a href="http://viphonda.com/inventory/{{vtype.live.value}}/{{menu.query}}" class="button expand no-margin-bottom" ng-hide="isViewListEnable" target="_blank">View {{menu.resultsQty()}} Results</a>