<div class="section-container accordion">
  <section>
    <div class="title" toggle="section.type" ng-init="section.type = false">
      <div class="menu-title">
        <table class="menu-title-table"><tbody>
          <tr>
            <td><span ng-cloak class="ng-cloak">Condition: {{vtype.live.label}}</span></td>
            <td class="title-icon"><i ng-class="{ 'fa-toggle-up': section.type, 'fa-toggle-down': !section.type }" class="fa"></i></td>
          </tr>
        </tbody></table>
      </div>
    </div>
    <div class="content filter-accordion">
      <ul class="small-block-grid-2" ng-hide="isViewListEnable">
        <li ng-repeat="type in vtype.list" ng-click="section.type = false">
          <button title="{{type.value}}" class="small expand" ng-class="{ disabled: vtype.live.value === type.value }" ng-click="vtype.set(type.value)">{{type.label}}</button>
        </li>
      </ul>
    </div>
  </section>
</div><!-- end menu-head -->
<button class="expand" title="specials" ng-if="menu.checkSpecials()" ng-click="menu.toogleSpecial()">{{menu.specials}}</button>
<div class="section-container accordion">
  <section ng-repeat="(label, group) in menu.menuGroup">
    <div class="title" toggle="section['filter' + label]">
      <div class="menu-title">
        <table class="menu-title-table"><tbody>
          <tr>
            <td><span ng-cloak class="ng-cloak">{{menu.menuGroupOrder[label]}}</span></td>
            <td class="title-icon"><i ng-class="{ 'fa-toggle-up': section['filter' + label], 'fa-toggle-down': !section['filter' + label] }" class="fa"></i></td>
          </tr>
        </tbody></table>
      </div>
    </div>
    <div class="content filter-accordion">
      <div class="section-container accordion">
        <section ng-repeat="opt in group" ng-show="menu.current === -1 || menu.current === $index">
          <div class="title" ng-class="{ 'active-title': menu.current === $index }" ng-click="menu.setCurrent($index)" toggle="section['option' + $index]" ng-init="section['option' + $index] = false">
            <div><table class="menu-title-table"><tbody><tr>
              <td ng-class="{ 'selected-opt': menu.labelHide(label, $index) }"><span ng-hide="menu.labelHide(label, $index)">{{opt.valueLabel}}: </span><span ng-bind-html="menu.uniq(label, $index)" ng-click="menu.removeOption(label, $index)"></span></td>
              <td class="title-icon" ng-hide="menu.labelHide(label, $index)"><i class="fa fa-plus" ng-show="menu.current!==$index"></i><i class="fa fa-minus-square" ng-show="menu.current===$index"></i></td>
            </tr></tbody></table></div>
          </div>
          <div class="content">
            <ul class="small-block-grid-1">
              <li ng-repeat="(key, count) in opt.options">
                <button class="small expand" title="{{count}} vehicles" ng-click="menu.addOption(opt.valueKey, key)">{{key}}</button>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div><!-- end filter-accordion -->
  </section>
</div>
<div class="section-container accordion">
  <section>
    <div class="title" ng-click="menu.updateRangeC()" toggle="section.range" ng-init="section.range = false">
      <div class="menu-title">
        <table class="menu-title-table"><tbody>
          <tr>
            <td><span>Price / Mileage</span></td>
            <td class="title-icon"><i ng-class="{ 'fa-toggle-up': section.range, 'fa-toggle-down': !section.range }" class="fa"></i></td>
          </tr>
        </tbody></table>
      </div>
    </div>
    <div class="content slider-accordion">
      <div ng-repeat="sld in menu.slidersI">
        <table class="range-table" ng-if="sld.max > 1000"><tbody>
        <tr><td colspan="3"><label>{{sld.label}}:</label></td></tr>
        <tr><td><input type="number" min="{{sld.min}}" max="{{sld.max}}" ng-model="menu.rangeObj[sld.keyval].from" ng-blur="menu.checkRange()"></td><td class="text-center"> to </td><td><input type="number" min="{{sld.min}}" max="{{sld.max}}" ng-model="menu.rangeObj[sld.keyval].to" ng-blur="menu.checkRange()"></td></tr>
        </tbody></table>
      </div>
    </div><!-- end slider-accordion -->
  </section>
</div><!-- end main-accordion -->
<div class="content result">
  <table><tbody><tr>
    <td style="width:30%;text-align:center"><strong style="font-size:2.6em;line-height:1.5em" ng-cloak>{{menu.resultsQty()}}</strong></td>
    <td style="width:20%"><label>vehicles found</label></td>
    <td style="width:50%"><a href="{home}/inventory/condition={{vtype.live.value}}/{{menu.query}}" class="button small expand no-margin-bottom searchinv" target="_self" ng-hide="isViewListEnable">View Inventory</a></td>
  </tbody></table>
</div>